{% extends 'layout.njk' %}

{% block title %}YESM 2020{% endblock %}
{% block desc %}Pages not completed yet. Young Economist Students' Meet 2019 (YESM 2019). Venue: Jadavpur University. Department of Economics. Designer: Vedant Mozumdar.{% endblock %}

{% block metahead %}
    <link rel="preload" href="/css/index.css" as="style">
    <link rel="preload" href="/img/logo.svg" as="image">
    <link rel="prerender" href="/events">
    <link rel="prerender" href="/">

    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
<body>
    {% import 'macros/header.njk' as nav %}
    {{ nav.gen('') }}
    <main id="main">
        <section>
            <h1 style="font-size:4em;font-weight:300;margin-top:25vh;">Coming Soon</h1>
            <a class="underline" style="font-size: 1.2em;" href="/"><span style="font-size:1.2em;padding-right: 0.3em">←</span> Return to homepage</a>
        </section>
    </main>
</body>
{% endblock %}
