@import 'main';

#guests {
    main {
        margin-top: 5vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        h2 {
            text-align: left;
        }
        img {
            height: 200px;
        }
    }
}
