{% extends 'layout.njk' %}

{% block title %}YESM 2020 | Events{% endblock %}
{% block desc %}Events page. Young Economist Students' Meet 2019 (YESM 2019). Venue: Jadavpur University. Department of Economics. Designer: Vedant Mozumdar.{% endblock %}

{% block metahead %}
    <link rel="preload" href="/css/events.css" as="style">
    <link rel="preload" href="/img/logo.svg" as="image">
    <link rel="preload" href="/img/fig.svg" as="image">
    <link rel="preload" href="/img/eventnames.svg" as="image">

    <link rel="stylesheet" href="/css/events.css">
    
    <link rel="stylesheet" href="../css/sponsor.css">
    <script src="../js/sponsor.js"></script>
{% endblock %}

{% block content %}
<body id="events">
    {% import 'macros/header.njk' as nav %}
    {% import 'macros/event_cover.njk' as cover %}
    {{ nav.gen('e') }}
    <main>
        <section>
            <h1>Events</h1>
            <ul>
                {# <li style="max-width: 600px;">
                    {{ cover.gen("sacred-gains","Shutter Up","Flagship Event","1587","1154.4","ff1e5a","89.7","15.9","sgames") }}
                </li> #}
                {# <li style="max-width: 600px;">
                    <article>
                        <a href="/events/stock-market">
                            <svg style="display:block;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1587 1154.4"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="/img/fig.svg#bg" fill="#f26262" />
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="400" y="410" viewBox="0 0 94.5 41">
                                    <use xlink:href="/img/eventnames.svg#smg" fill="#fff"/>
                                </svg>
                            </svg>
                            <h1 class="d_none">Stock Market Game</h1>
                        </a>
                    </article>
                </li> #}
                {# <li>
                    {{ cover.gen("oecd","O E C D","Committee Simulation","1587","1154.4","627dff","49.3","15.8","oecd") }}
                </li> #}
                {# <li>
                    {{ cover.gen("polemic","Polemic","Debate","1587","1154.4","dbd437","50.2","15.9","pmic") }}
                </li> #}
                {# <li>
                    {{ cover.gen("analyse-this","Analyse This","Critical Thinking","1587","1154.4","ff8700","84","15.8","athis") }}
                </li> #}
                {# <li>
                    {{ cover.gen("ecowhizz","Ecowhizz","Quiz","1587","1154.4","8be44d","57.9","15.9","ewhizz") }}
                </li> #}
                {# <li>
                    {{ cover.gen("bulls-and-bears","Bulls and Bears","Mock Stock","1587","1154.4","f39374","107.4","15.6","bandb") }}
                </li> #}
                {# <li>
                    {{ cover.gen("quest-o-nomics","Quest-o-nomics","Levels' Race","1587","1154.4","c761ff","108.7","18.1","qmics") }}
                </li> #}
                {# <li>
                    {{ cover.gen("paper-trail","Pape Trail","Paper Presentation","1587","1154.4","f26262","74.6","15.4","ptrail") }}
                </li> #}
                {# <li>
                    {{ cover.gen("paper-trail","1587","1154.4","f26262","ptrail") }}
                </li> #}
                <center>
                    <a href="paper-trail"><img style="width:60%;height:80%;" src="../img/events2020/papertrail.jpg"></a>
                </center>
                <center>
                    <a href="quest-o-nomics"><img style="width:60%;height:80%;" src="../img/events2020/quest-o-nomics.jpg"></a> 
                </center>
                <center>
                    <a href="polemic"><img style="width:60%;height:80%;" src="../img/events2020/polemic.jpg"></a> 
                </center>
                <center>
                    <a href="ecolens"><img style="width:60%;height:80%;" src="../img/events2020/ecolens.jpg"></a> 
                </center>
                <center>
                    <a href="artbitrage"><img style="width:60%;height:80%;" src="../img/events2020/artbitrage.jpg"></a> 
                </center>
                <center>
                    <a href="write-on"><img style="width:60%;height:80%;" src="../img/events2020/write-on.jpg"></a> 
                </center>
                <center>
                    <a href="analyse-this"><img style="width:60%;height:80%;" src="../img/events2020/analyse-this.jpg"></a> 
                </center>
                <center>
                    <a href="proffing-it"><img style="width:60%;height:80%;" src="../img/events2020/proffing-it.jpg"></a> 
                </center>
                <center>
                    <a href="oecd"><img style="width:60%;height:80%;" src="../img/events2020/oecd.jpg"></a> 
                </center>
                <center>
                    <a href="ecowhizz"><img style="width:60%;height:80%;" src="../img/events2020/ecowhizz.jpg"></a> 
                </center>
                <center>
                    <a href="sacred-gains"><img style="width:60%;height:80%;" src="../img/events2020/strategize.jpg"></a> 
                </center>
                {# <li>
                    {{ cover.gen("proffing-it","Proffing It","Mock Classroom","1587","1154.4","3792ff","77.6","15.9","pit") }}
                </li> #}
                {# <li>
                    {{ cover.gen("write-on","Write On","Essay Writing","1587","1154.4","ff74b9","59.2","15.9","won") }}
                </li> #}
                {# <li>
                    {{ cover.gen("artbitrage","ARTbitrage","Poster Making &amp; Doodling","1587","1154.4","6fecac","70.2","15.9","artb") }}
                </li> #}
                {# <li>
                    {{ cover.gen("shutter-up","Shutter Up","Photography","1587","1154.4","da99e0","70.8","15.6","sup") }}
                </li> #}
                {# <li>
                    {{ cover.gen("ecolens","Ecolens","Short Film Making","1587","1154.4","44d9e6","50.1","15.9","elens") }}
                </li> #}
            </ul>
        </section>
    </main>
</body>
{% endblock %}
